
body {
  
    
    font-family: 'Titillium Web', sans-serif;
    background-color: red;



}
header {
    
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px
    
}

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
}

thead {
   
    background-color: white;
}

table th, table td {
    text-align: right;
    padding: 10px;
    border: 2px solid black;
}

.align-left {
    text-align: left;
}

tbody {
    background: white;
}



tbody td {
    font-size: 0.9rem;
}

.line-item-total {
    font-weight: bolder;
}

tfoot {
   
   background-color: white;
}
.button {
    background-color: seagreen;
    font-size: 20px;
}