
body {
    max-width: 400px;
    
    font-family: 'Titillium Web', sans-serif;
    
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
      
    
}
header {
    
    font-family: fantasy;
    font-weight: bold;
    font-size: 40px
    
}

table {
    
    border: 1px solid black;
}

thead {
    background-color: seagreen;
}

table td {
    text-align: right;
    padding: 10px;
    border: 2px solid black;
}
table th {
    
    text-align: right;
    padding: 10px;
    border: 2px solid black;
}

.align-left {
    text-align: left;
}

tbody td {
    font-size: 15px;
}

tfoot {
   
   background-color: white;
}
.button {

    background-color: seagreen;
    font-size: 20px;

}
.order-button {

    background-color: seagreen;
    font-size: 20px;

}
.clear {

    background-color: seagreen;
    font-size: 20px;

}