
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    background-color: lightyellow;
    font-family: 'Titillium Web', sans-serif;
    
}

main {
    background-image: url(/assets/beerstore.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.centered{
    font-size: 25px;
    color: black;
    font-style: bold;
    font-family: cursive;
}
section {
    background-image: url(/assets/beerfront.jpg);
    width: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px black;
}

header {
   justify-content: center;
   text-align: center;

}

.buylink {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}


h1 {
    
    font-size: 40px;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.buybeer{
    font-size: 30px;
    text-decoration: blink;
    background-color: lime;
    box-shadow: 5px 10px #888888;
}




content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  

  
 